div {
    
    background-color: black;

}

h2 {
    display: inline;

}
.logosredes{
    float: right;
    

}

#logolinkedin{
    width: 50px;
    margin-left: 10px;
}
#logoGitHub{
    width: 38px;
}